.nav-bar-section-here{   
    
    background-color: #e6e3f3;

    .navbar{
        height: 80px;
        
        .download{
            padding: 0.5rem;
            border: 0;
            outline: 0;
            background-image: linear-gradient(90deg, #7863f1, #2e0de7);
        }
    }

}